* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.first-heading {
  color: white;
  background: blueviolet;
  padding: 10px;
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
}
